[phases.setup]
nixPkgs = ["python310", "nodejs-18_x", "postgresql"]

[phases.install]
cmds = ["python3 -m pip install --upgrade pip", "python3 -m pip install -r backend/requirements.txt", "cd frontend && npm install"]

[phases.build]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "cd backend && python3 -m gunicorn -w 4 -b 0.0.0.0:$PORT app:app"
